@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bienvenidos</b></h1>

    <div style="display: flex; align-items: center;">
        <p style="text-align: justify;">
            <br />¡Bienvenido a Supermarket, tu tienda en línea de confianza para todas tus necesidades de compras diarias! En nuestro sitio web encontrarás una amplia variedad de productos frescos, alimentos, bebidas, productos de limpieza y más, todo a precios competitivos y con entregas rápidas y confiables.<br />
            <br />Nos esforzamos por hacer que tu experiencia de compra en línea sea fácil y agradable. Puedes explorar nuestros productos de manera fácil e intuitiva, filtrando por categoría o buscando un producto en particular. Además, contamos con un servicio de atención al cliente excepcional, siempre disponible para responder a cualquier pregunta o inquietud que puedas tener.<br />
            <br />En Supermarket, también nos comprometemos con la calidad y la sostenibilidad. Trabajamos con proveedores cuidadosamente seleccionados para ofrecer productos frescos y de alta calidad, y también nos aseguramos de que todos nuestros productos sean respetuosos con el medio ambiente y que nuestro proceso de entrega sea lo más ecológico posible.<br />
            <br />Así que no esperes más, ¡comienza a comprar en línea en Supermarket hoy mismo y disfruta de la comodidad y la facilidad de hacer tus compras diarias sin salir de casa!.
        </p>
    
</div>
